
.sidebar-dark .nav-item .router-link-exact-active,.sidebar-dark .nav-item .router-link-exact{
    color: #4e73df !important;
    background: #fff !important;

}

.sidebar-dark .nav-item .router-link-exact i{
	 color: #4e73df !important;
}


.sidebar-dark .nav-item .router-link-exact-active i{
	 color: #4e73df !important;
}
.errorText{
	color: red;
}
td.table-error {
    background: radial-gradient(red, transparent);
}